<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [3]:
!pip3 install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 396 kB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-macosx_10_9_universal2.whl size=1166935 sha256=fee77b89f028866878f376fa770a77b1f3c03eb7f1b9f3c95f0fea35ad713489
  Stored in directory: /Users/mugheesmustafa/Library/Caches/pip/wheels/5b/43/0d/de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: sqlalchemy 2.0.43
    Uninstalling sqlalchemy-2.0.43:
      Successfully uninstalled sqlalchemy-2.0.43
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [4]:
!pip3 install ipython-sql
# !pip3 install ipython-sql prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython-genutils in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Collecting sqlalchemy>=2.0
  Downloading sqlalchemy-2.0.44-cp39-cp39-macosx_11_0_arm64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 711 kB/s eta 0:00:01
Requirement already satisfied: sqlparse in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: ipython in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: exceptiongroup in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (1.3.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: pexpect>4.3 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: traitlets>=5 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: matplotlib-inline in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: jedi>=0.16 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: stack-data in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: pure-eval in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: asttokens>=2.1.0 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: executing>=1.2.0 in /Users/mugheesmustafa/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.44
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [3]:
%sql sqlite:///my_data1.db

In [20]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

**Note:This below code is added to remove blank rows from table**

In [5]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [47]:
# %sql SELECT DISTINCT "LaunchSite" FROM SPACEXTBL;
# %sql SELECT * FROM SPACEXTABLE LIMIT 20;
conn = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTABLE", conn, if_exists="replace", index=False)
%sql SELECT * FROM SPACEXTABLE LIMIT 20;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)'),
 ('2014-08-05', '8:00:00', 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-07', '5:00:00', 'F9 v1.1 B1011', 'CCAFS LC-40', 'AsiaSat 6', 4428, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-21', '5:52:00', 'F9 v1.1 B1010', 'CCAFS LC-40', 'SpaceX CRS-4', 2216, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Uncontrolled (ocean)'),
 ('2015-01-10', '9:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-02-11', '23:03:00', 'F9 v1.1 B1013', 'CCAFS LC-40', 'DSCOVR', 570, 'HEO', 'U.S. Air Force NASA NOAA', 'Success', 'Controlled (ocean)'),
 ('2015-03-02', '3:50:00', 'F9 v1.1 B1014', 'CCAFS LC-40', 'ABS-3A Eutelsat 115 West B', 4159, 'GTO', 'ABS Eutelsat', 'Success', 'No attempt'),
 ('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-04-27', '23:03:00', 'F9 v1.1 B1016', 'CCAFS LC-40', 'Turkmen 52 / MonacoSAT', 4707, 'GTO', 'Turkmenistan National Space Agency', 'Success', 'No attempt'),
 ('2015-06-28', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)'),
 ('2015-12-22', '1:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [19]:
import pandas as pd
import sqlite3

# Load your CSV
df = pd.read_csv("dataset_part_2.csv")
df.head()
# Connect to your SQLite database
# conn = sqlite3.connect("my_data1.db")

# # Write the DataFrame to SQLite (replace table if it exists)
# df.to_sql("SPACEXTABLE", conn, if_exists="replace", index=False)

# # Check first 5 rows
# pd.read_sql('SELECT * FROM SPACEXTABLE LIMIT 5', conn)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass FROM SPACEXTABLE WHERE "Customer" LIKE '%NASA%';

 * sqlite:///my_data1.db
Done.
107010

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql SELECT AVG("PayloadMass__kg_") AS Avg_Payload_Mass FROM SPACEXTABLE WHERE "BoosterVersion" = 'F9 v1.1';

2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [30]:
%sql SELECT MIN("Date") AS First_Successful_GroundPad_Landing FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[(None,)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [56]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (drone ship)' AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [57]:
%sql SELECT "Landing_Outcome", COUNT(*) AS total FROM SPACEXTABLE GROUP BY "Landing_Outcome";

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 21),
 ('No attempt ', 1),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [ ]:
%sql SELECT "Booster_Version", "Payload_Mass" FROM SPACEXTABLE WHERE "Payload_Mass" = (SELECT MAX("Payload_Mass") FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003', 'Payload_Mass'),
 ('F9 v1.0  B0004', 'Payload_Mass'),
 ('F9 v1.0  B0005', 'Payload_Mass'),
 ('F9 v1.0  B0006', 'Payload_Mass'),
 ('F9 v1.0  B0007', 'Payload_Mass'),
 ('F9 v1.1  B1003', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1', 'Payload_Mass'),
 ('F9 v1.1 B1011', 'Payload_Mass'),
 ('F9 v1.1 B1010', 'Payload_Mass'),
 ('F9 v1.1 B1012', 'Payload_Mass'),
 ('F9 v1.1 B1013', 'Payload_Mass'),
 ('F9 v1.1 B1014', 'Payload_Mass'),
 ('F9 v1.1 B1015', 'Payload_Mass'),
 ('F9 v1.1 B1016', 'Payload_Mass'),
 ('F9 v1.1 B1018', 'Payload_Mass'),
 ('F9 FT B1019', 'Payload_Mass'),
 ('F9 v1.1 B1017', 'Payload_Mass'),
 ('F9 FT B1020', 'Payload_Mass'),
 ('F9 FT B1021.1', 'Payload_Mass'),
 ('F9 FT B1022', 'Payload_Mass'),
 ('F9 FT B1023.1', 'Payload_Mass'),
 ('F9 FT B1024', 'Payload_Mass'),
 ('F9 FT B1025.1', 'Payload_Mass'),
 ('F9 FT B1026', 'Payload_Mass'),
 ('F9 FT B1029.1', 'Payload_Mass'),
 ('F9 FT B1031.1', 'Payload_Mass'),
 ('F9 FT B1030', 'Payload_Mass'),
 ('F9 FT  B1021.2', 'Payload_Mass'),
 ('F9 FT B1032.1', 'Payload_Mass'),
 ('F9 FT B1034', 'Payload_Mass'),
 ('F9 FT B1035.1', 'Payload_Mass'),
 ('F9 FT  B1029.2', 'Payload_Mass'),
 ('F9 FT B1036.1', 'Payload_Mass'),
 ('F9 FT B1037', 'Payload_Mass'),
 ('F9 B4 B1039.1', 'Payload_Mass'),
 ('F9 FT B1038.1', 'Payload_Mass'),
 ('F9 B4 B1040.1', 'Payload_Mass'),
 ('F9 B4 B1041.1', 'Payload_Mass'),
 ('F9 FT  B1031.2', 'Payload_Mass'),
 ('F9 B4 B1042.1', 'Payload_Mass'),
 ('F9 FT  B1035.2', 'Payload_Mass'),
 ('F9 FT  B1036.2', 'Payload_Mass'),
 ('F9 B4 B1043.1', 'Payload_Mass'),
 ('F9 FT  B1032.2', 'Payload_Mass'),
 ('F9 FT  B1038.2', 'Payload_Mass'),
 ('F9 B4 B1044', 'Payload_Mass'),
 ('F9 B4  B1041.2', 'Payload_Mass'),
 ('F9 B4  B1039.2', 'Payload_Mass'),
 ('F9 B4 B1045.1', 'Payload_Mass'),
 ('F9 B5  B1046.1', 'Payload_Mass'),
 ('F9 B4  B1043.2', 'Payload_Mass'),
 ('F9 B4  B1040.2', 'Payload_Mass'),
 ('F9 B4 B1045.2', 'Payload_Mass'),
 ('F9 B5B1047.1', 'Payload_Mass'),
 ('F9 B5B1048.1', 'Payload_Mass'),
 ('F9 B5 B1046.2', 'Payload_Mass'),
 ('F9 B5B1049.1', 'Payload_Mass'),
 ('F9 B5 B1048.2', 'Payload_Mass'),
 ('F9 B5 B1047.2', 'Payload_Mass'),
 ('F9 B5 B1046.3', 'Payload_Mass'),
 ('F9 B5B1050', 'Payload_Mass'),
 ('F9 B5B1054', 'Payload_Mass'),
 ('F9 B5 B1049.2', 'Payload_Mass'),
 ('F9 B5 B1048.3', 'Payload_Mass'),
 ('F9 B5B1051.1', 'Payload_Mass'),
 ('F9 B5B1056.1 ', 'Payload_Mass'),
 ('F9 B5 B1049.3', 'Payload_Mass'),
 ('F9 B5 B1051.2 ', 'Payload_Mass'),
 ('F9 B5 B1056.2 ', 'Payload_Mass'),
 ('F9 B5 B1047.3 ', 'Payload_Mass'),
 ('F9 B5 B1048.4', 'Payload_Mass'),
 ('F9 B5B1059.1', 'Payload_Mass'),
 ('F9 B5 B1056.3 ', 'Payload_Mass'),
 ('F9 B5 B1049.4', 'Payload_Mass'),
 ('F9 B5 B1046.4', 'Payload_Mass'),
 ('F9 B5 B1051.3', 'Payload_Mass'),
 ('F9 B5 B1056.4', 'Payload_Mass'),
 ('F9 B5 B1059.2', 'Payload_Mass'),
 ('F9 B5 B1048.5', 'Payload_Mass'),
 ('F9 B5 B1051.4', 'Payload_Mass'),
 ('F9 B5B1058.1 ', 'Payload_Mass'),
 ('F9 B5 B1049.5', 'Payload_Mass'),
 ('F9 B5 B1059.3', 'Payload_Mass'),
 ('F9 B5B1060.1', 'Payload_Mass'),
 ('F9 B5 B1058.2 ', 'Payload_Mass'),
 ('F9 B5 B1051.5', 'Payload_Mass'),
 ('F9 B5 B1049.6', 'Payload_Mass'),
 ('F9 B5 B1059.4', 'Payload_Mass'),
 ('F9 B5 B1060.2 ', 'Payload_Mass'),
 ('F9 B5 B1058.3 ', 'Payload_Mass'),
 ('F9 B5 B1051.6', 'Payload_Mass'),
 ('F9 B5 B1060.3', 'Payload_Mass'),
 ('F9 B5B1062.1', 'Payload_Mass'),
 ('F9 B5B1061.1 ', 'Payload_Mass'),
 ('F9 B5B1063.1', 'Payload_Mass'),
 ('F9 B5 B1049.7 ', 'Payload_Mass'),
 ('F9 B5 B1058.4 ', 'Payload_Mass')]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [ ]:
%sql SELECT substr("Date",6,2) AS month, "Landing_Outcome" AS failure_landing_outcome, "Booster_Version", "Launch_Site" FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE '%drone ship%' AND "Landing_Outcome" LIKE 'Failure%' AND substr("Date",1,4) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [26]:
%sql SELECT "Outcome",COUNT(*) AS outcome_count FROM SPACEXTABLE WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Outcome" ORDER BY outcome_count DESC;

 * sqlite:///my_data1.db
Done.

[('Outcome', 31)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>